.Editing {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
}

.Editing > .Buttons {
    display: flex;
    height: 40px;
    width: 100%;
    margin: 0 0 20px;
}

.Fields > input,
.Fields > textarea {
    padding: 0 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-weight: bold;
}

input#Name {
    height: 35px;
    margin: 0 2%;
}

textarea#Description {
    resize: none;
    margin: 0 2% 20px;
    min-height: 105px;
}

.Fields > select {
    overflow-y: auto;
    width: 250px;
    margin: 0 2%;
    padding: 5px 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-weight: bold;
}
.Fields > select > option {
    font-weight: bold;
}

#SaveButton {
    height: 40px;
    width: 100px;
    border: 0;
    border-radius: 5px;
    margin: 0 2% 1%;
    color: white;
    background-color: #0091db;
}
