body {
}

.App-main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin: 2vh;
}

.Settings {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15%;
    position: fixed;
    align-self: start;
}

.Sorting {
    margin: 0 0 2vh;
    background-color: white;
}

.Filters {
    margin: 0 0 2vh;
    background-color: white;
}

.Buttons {
    display: flex;
    height: 50px;
    width: 80%;
    margin: 0 0 2vh;
    background-color: white;
}

#AddButton {
    background-color: #0091db;
    color: white;
    border: 0;
    border-radius: 3px;
}

.Tasks {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.Task {
    display: flex;
    flex-direction: column;
    margin: 0 0 2vh;
    padding: 2vh;
    background-color: white;
}

#Name {
    font-size: 140%;
}

#Name:hover {
    color: #49a0c8;
}
