.App-main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 1%;
}

.Settings {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15%;
    position: fixed;
    align-self: start;
}

.Sorting {
    margin: 1%;
    background-color: white;
}

.Filters {
    margin: 1%;
    background-color: white;
}

.Buttons {
    display: flex;
    height: 50px;
    width: 80%;
    background-color: white;
}

.Tasks {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.Task {
    display: flex;
    flex-direction: column;
    background-color: white;
}
